.secheading-spoon p {
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 1rem;
}

@media screen and (max-width: 900px){
    .secheading h2{
        font-size: 3rem;
        line-height: 1.5;
    }
}