@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;600&family=Karla:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --color-black: #0c0c0c;
    --color-gold:  #DCCA87;
    --color-text: #AAAAAA;
    --btn-font-color: #0C0B08;
    --font-sans: "Open Sans";
    --font-main: 'Cormorant Upright'
    

}
a{
    text-decoration: none;
    color: unset;
    cursor: pointer;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}
